{% extends 'main.html' %}

{% block content %}

{% for history in history%}
<div class="container-lg">
    <div class="row justify-content-center align-items-center my-5">
        <div class="col-lg-8">
            <div class="text-around my-5">
                <div class="fw-bold"><h4>{{history.user}}:</h4></div>
                <div>{{history.message}}</div>
            </div>
            <div class="text-start my-5">
                <div>Bot:</div>
                <div>{{history.response}}</div>
            </div>
            
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}