{% extends 'main.html' %}

{%block styles%}
<style>
.sent {
    background-color: #dcf8c6; 
}
.received {
    background-color: #f1f0f0;
}

.message-box {
  overflow-y: auto;
}
</style>
{%endblock styles%}

{% block content%}



{% if request.user.is_authenticated %}
<div class="container-lg fixed-container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card-body messages-box">

        <ul class="list-unstyled messages-list">
    
    
          {% for chat in chats %}
          {% if chat.user == request.user %}
    
    
          <li class="message sent my-5 mx-5" >
            <div class="message-text">
              <div class="message-sender">
                <b>You</b>
              </div>
              <div class="message-content">
                {{chat.message}}
              </div>
            </div>
          </li>
    
          <li class="message received my-5 mx-5" >
            <div class="message-text">
              <div class="message-sender">
                <b>AI Chatbot</b>
              </div>
              <div class="message-content ">
                {{chat.response}}
              </div>
            </div>
          </li>
    
          {% endif %}
          {% endfor %}
    
        </ul>
    
      </div>
    </div>
  </div>
</div>

{% else %}
{% endif %}

  <br><br>
  <br><br>
  <br><br>

  {% if request.user.is_authenticated %}
  <div class="container-lg fixed-bottom" >
    <div class="row justify-content-center mt-5">
    <div class="col-md-8">
    <form class="message-form" >
        {%csrf_token%}
        <div class="input-group">
          <input type="text" class="form-control message-input" placeholder="Type your message..." name="message">
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary btn-send">Send</button>
          </div>
        </div>
      </form>
    </div>
    </div>
  </div>
  {% endif %}
  
  <script>
    const messagesList = document.querySelector('.messages-list');
    const messageForm = document.querySelector('.message-form');
    const messageInput = document.querySelector('.message-input');
  
    messageForm.addEventListener('submit', (event) => {
      event.preventDefault();
  
      const message = messageInput.value.trim();
      if (message.length === 0) {
        return;
      }
  
      const messageItem = document.createElement('li');
      messageItem.classList.add('message', 'sent', 'my-5', 'mx-5');
      messageItem.innerHTML = `
        <div class="message-text">
          <div class="message-sender">
            <b>You</b>
          </div>
          <div class="message-content">
            ${message}
          </div>
        </div>`;
      messagesList.appendChild(messageItem);
  
      messageInput.value = '';
  
      fetch('', {
        method: 'POST',
        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
        body: new URLSearchParams({
          'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
          'message': message
        })
      })
        .then(response => response.json())
        .then(data => {
          const response = data.response;
          const messageItem = document.createElement('li');
          messageItem.classList.add('message', 'received', 'my-5', 'mx-5');
          messageItem.innerHTML = `
          <div class="message-text">
            <div class="message-sender">
              <b>AI Chatbot</b>
            <div>
            <div class="message-content">
              ${response}
            </div>
          </div>
          `;
          messagesList.appendChild(messageItem);
        });
    });
  
  </script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

{% endblock content%}